<footer>
        <div class='container' role='presentation'>
            <div class='row' role='presentation'>
                <div class='col-md-7' role='presentation'>
                    <div role='presentation'>
                        <span role='presentation'>
                            &copy;
                            2018
                            The University of Sydney, NSW 2006 Australia.
                        </span>
                        <span class='first' role='presentation'>
                            <b>Last updated</b>
                            30 April 2018.
                        </span>
                    </div>
                    <div role='presentation'>
                        <span role='presentation'>
                            <b>ABN</b>
                            15 211 513 464.
                        </span>
                        <span role='presentation'>
                            <b>CRICOS Number</b>
                            00026A.
                        </span>
                        <span role='presentation'>
                            <b>Phone</b>
                            +61 2 9351 2222.
                        </span>
                    </div>
                </div>
                <div class='col-md-5' role='presentation'>
                    <ul role='menubar'>
                        <li role='menuitem'>
                            <a href="http://sydney.edu.au/disclaimer.shtml" target="_blank">Disclaimer</a>
                        </li>
                        <li role='menuitem'>
                            <a href="http://sydney.edu.au/privacy.shtml" target="_blank">Privacy statement</a>
                        </li>
                        <li class='last' role='menuitem'>
                            <a href="http://sydney.edu.au" target="_blank">University of Sydney</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>